
/* 컨텐츠 크기 */
.width1200{width: 1200px; margin: 0 auto;}

.mainPage{padding-top: 130px;}
.subPage > [class *="Area"]{padding: 200px 0 70px;}

.hidden{height: 0.001px; overflow: hidden;}

mark{color: #ff9900; background-color: transparent;}
mark > *{color: #ff9900;}

.blackBtn{display: block; margin: 0 auto; width: 125px; line-height: 45px; background-color: black; font-size: 18px; font-weight: 800; color: white; text-align: center;}
[class*="material-icons-outlined"]{font-family: 'Material Icons';}

/* 아이콘 */
.login_icon , .mail_icon{width: 30px; height: 30px; text-indent: -9999px; background-repeat: no-repeat; background-position: center; background-size: cover;}
.login_icon{background-image: url('../images/loginIcon.png');}
.mail_icon{background-image: url('../images/mailIcon.png'); position: relative;}
.mail_icon[data-count]::after{content: attr(data-count); position: absolute; right: -10px; top: -7px; width: 20px; height: 20px; background-color: #ff9900; border: 2px solid white; border-radius: 100%; display: flex; justify-content: center; align-items: center; text-indent: 0; font-size: 11px; font-weight: 900;}

.point::after{content: ''; width: 5px; height: 5px; background-color: #46ccbb; border-radius: 100%; display: inline-block; vertical-align: text-top; margin-left: 8px;}
.bold{font-weight: 800; display: flex; align-items: center;}

header{position: fixed; left: 0; top: 0; width: 100%; border-bottom: 1px solid #dadada; background-color: white; z-index: 10;}
header > div{display: flex; justify-content: center; align-items: center;}
header > div > *:first-child{margin-right: auto;}
header > div > *:last-child{margin-left: auto;}
header > div h1 small{font-size: 18px; font-weight: 700; margin-left: 10px;}
header > div nav > ul{display: flex}
header > div nav > ul > li:not(:last-child){margin-right: 60px;}
header > div nav > ul > li > a{font-size: 29px; font-weight: 700; line-height: 120px;}
header > div nav > ul > li > a:hover span{position: relative;}
header > div nav > ul > li > a:hover span::after{content: ''; position: absolute; left: 0; bottom: -3px; width: 100%; height: 10px; background-color: #ff9900; z-index: -1;}
header > div nav > ul > li > div{display: none; position: absolute; top: 120px; left: 0; width: 100%; background-color: #f7f7f7; border-width: 1px 0; border-style: solid; border-color:#dadada;}
header > div nav > ul > li > div div{display: flex; padding: 30px 0;}
header > div nav > ul > li > div div ul{flex: 1; padding: 0 20px;  border-left: 1px solid #dadada;}
header > div nav > ul > li > div div ul li:not(:last-child){margin-bottom: 20px;}
header > div nav > ul > li > div div ul li a{font-size: 16px; font-weight: 700;}
header > div nav > ul > li > div div ul li a:hover{color:#ff9900;}
header > div > ul{display: flex;}
header > div > ul li:not(:last-child){margin-right: 45px;}

footer{background-color: #242424; padding: 20px 0;}
footer > div{position: relative;}
footer > div h2{margin-bottom: 25px;}
footer > div > ul{position: absolute; right: 0; top: 5px; display: flex;}
footer > div > ul li:not(:last-child){margin-right: 30px;}
footer > div > ul li a{color: white;}
footer > div > ul ~ *{font-size: 14px; color: #9b9b9b; line-height: 21px;}
footer > div > address{font-style: normal; display: flex; flex-wrap: nowrap;}
footer > div > address > *:not(:last-child){margin-right: 20px;}
footer > div > address dl{display: flex;}
footer > div > address dl dt::after{content: ':'; display: inline-block; margin: 0 5px;}