/* global */
mark{color: #ff7200;}
mark a{color: #ff7200;}

/* 뒤로가기 링크 */
.backLink{display: inline-block; width: 38px; height: 27px; background: url('../images/backLink.png') no-repeat center / cover; text-indent: -9999px;}

.myPage > [class*=Area]{padding-top: 140px; padding-bottom: 195px;}
.oneRoomPage > [class*=Area]{padding-top: 120px; padding-bottom: 130px;}

/* 화면 고정 링크 */
.fixedLink{position: fixed; left: 50%; bottom: 170px; width: 155px; line-height: 70px; font-size: 30px; font-weight: 700; color: white; text-align: center; background-color: rgba(0, 0, 0, 0.6); border-radius: 100px; transform: translateX(-50%); z-index: 10; }

/* slider 공통 */
.bx-wrapper{box-shadow: none; border: none; background-color: transparent; margin: 0;}

/* gnb 서치 */
.gnbSearchBox{position: absolute; left: -100%; width: 100%; height: 100%; background-color: white; display: flex; justify-content: center; align-items: center; transition: 0.5s left;}
.gnbSearchBox.active{left: 0;}
.gnbSearchBox input{width: calc(100% - ((37px * 2) + 60px)); font-size: 24px; border: none; }
.gnbSearchBox input::placeholder{color: #888888;}
.gnbSearchBox button{width: 37px; height: 39px;}
.gnbSearchBox button:nth-of-type(1){background-image: url('../images/gnb_search.png');}
.gnbSearchBox button:nth-of-type(2){background-image: url('../images/gnb_close.png');}
.gnbSearchBox button:not(:last-of-type){display: flex; align-items: center;}
.gnbSearchBox button:not(:last-of-type){margin-right: 60px; position: relative;}
.gnbSearchBox button:not(:last-of-type)::after{content: ''; position: absolute; right: -30px; top: 0; width: 1px; height: 100%; background-color: #dadada;}

/* 이미지 업로드 공통 */
.imgRegiBox > .fileArea{display: flex; flex-wrap: wrap;}
.imgRegiBox > .fileArea input{display: none;}
.imgRegiBox > .fileArea label ,.imgRegiBox > .fileArea .imgBox {width: 80px; height: 80px; border: 1px solid #b8b8b8; box-sizing: border-box;}
.imgRegiBox > .fileArea label{display: flex; justify-content: center; align-items: center; color: #ababab; font-weight: 900; background-color: #f5f5f5;}
.imgRegiBox > .fileArea .imgBox{position: relative;}
.imgRegiBox > .fileArea .imgBox .removeBtn{position: absolute; right: -6px; top: -6px; width: 20px; line-height: 20px; text-align: center; background-color: black; border-radius: 100%; font-size: 20px; color: white; font-weight: 900;}

/* 원룸 리스트 */
.oneRoomList a{display: flex; align-items: flex-end;}
.oneRoomList a .imgBox{border: 1px solid #b8b8b8; width: 290px; height: 195px; margin-right: 30px;}
.oneRoomList a .textArea strong{display: block; font-size: 28px; font-weight: 700; margin-bottom: 10px;}
.oneRoomList a .textArea strong small{display: block; font-size: 20px; color: #888888; margin-bottom: 10px;}
.oneRoomList a .textArea p{font-size: 20px; line-height: 26px; color: #555555;}
.oneRoomList a .textArea p:last-of-type{margin-bottom: 20px;}
.oneRoomList a .textArea div{display: flex;}
.oneRoomList a .textArea div span{font-size: 18px; padding: 10px 12px; background-color: #ffefd8;}
.oneRoomList a .textArea div span::before{content: '#';}
.oneRoomList a .textArea div span:not(:last-child){margin-right: 12px;}

/* 페이저 */
.pageBox{display: flex; justify-content: center; align-items: center; margin-top: 30px;}
.pageBox > a{width: 75px; height: 40px; font-size: 18px; color: #888888; display: flex; justify-content: center; align-items: center; border: 1px solid #d2d2d2;}
.pageBox > a:first-of-type mark{margin-right: 10px;}
.pageBox > a:last-of-type mark{margin-left: 10px;}
.pageBox ol{display: flex; justify-content: center; align-items: center; margin: 0 60px;}
.pageBox ol li:not(:last-child){margin-right: 20px;}
.pageBox ol li a{display: block; font-size: 20px;  color: #888888; width: 20px; text-align: center;  position: relative;}
.pageBox ol li a:hover,.pageBox ol li.active a{color: black; font-weight: 800;}
.pageBox ol li a:hover::after,
.pageBox ol li.active a::after{content: ''; position: absolute; left: 0; bottom: -5px; width: 100%; height: 2px; background-color: #ff9900;}


/* page */
/* 로그인 */
.loginPage .loginArea{height: 100vh; min-height: 585px; display: flex; align-items: center; padding: 120px 0 135px;}
.loginPage fieldset{min-height: 585px;}
.loginPage fieldset legend{font-size: 50px; font-weight: 700; text-align: center; margin-bottom: 70px;}
.loginPage fieldset input:not([type='submit']){width: 100%; font-size: 24px; padding: 20px; box-sizing: border-box; border: 1px solid #cacaca; margin-bottom: 20px; }
.loginPage fieldset input:not([type='submit'])::placeholder{color: #888888;}
.loginPage fieldset p{font-size: 22px;}
.loginPage fieldset p:first-of-type{margin-bottom: 55px;}
.loginPage fieldset input[type="submit"]{font-size: 30px; font-weight: 700; line-height: 70px; width: 100%; border: none; background-color: #ff9900; margin-bottom: 60px;}
.loginPage fieldset p:not(:first-of-type){text-align: center;}
.loginPage fieldset p:not(:first-of-type):not(:last-of-type){margin-bottom: 30px;}
.loginPage fieldset p mark a{text-decoration: underline;}


/* 마이페이지 */
.myPageArea div button ,
.linkBox a:not(.backLink){width: 95px; line-height: 53px; font-size: 22px; font-weight: 700; text-align: center;}
.linkBox{display: flex; align-items: center;}
.linkBox .backLink{margin-right: 30px;}
.linkBox p{font-size: 30px; font-weight: 700;}
.linkBox a:not(.backLink){margin-left: auto; color: white; background-color: black; border: 1px solid #555555;}

.myPageArea .linkBox{margin-bottom: 45px;}

.myPageArea .imgArea{margin-bottom: 40px; text-align: center;}
.myPageArea .imgArea .imgBox{width: 140px; height: 140px; border: 1px solid #b8b8b8; border-radius: 100%; margin: 0 auto 20px;} 
.myPageArea .imgArea button{color: #888888; border: 1px solid #d2d2d2;}

.myPageArea .textArea{padding-top: 40px; padding-bottom: 40px; border-width: 1px 0; border-style: solid; border-color: #e0e0e0; margin-bottom: 40px;}
.myPageArea .textArea dl{display: flex; justify-content: space-between; align-items: center; font-size: 24px;}
.myPageArea .textArea dl:not(:last-of-type){margin-bottom: 40px;}
.myPageArea .textArea dl dt{font-weight: 700;}

.myPageArea > button{width: 100%; height: 70px; font-size: 30px; font-weight: 700; background-color: #ff9900;}

/* 마이페이지 - 수정 */
.correctionArea .linkBox{margin-bottom: 60px;}
.correctionArea ul{padding-bottom: 40px; border-bottom: 1px solid #e0e0e0; margin-bottom: 40px;}
.correctionArea ul li:not(:last-child){margin-bottom: 40px;}
.correctionArea ul li label{display: block; font-size: 20px; font-weight: 700; margin-bottom: 15px;}
.correctionArea ul li input{width: 100%; height: 70px; font-size: 24px; padding: 20px; border: 1px solid #cacaca; box-sizing: border-box;}
.correctionArea ul li input::placeholder{color: #888888;}
.correctionArea input[type="submit"]{width: 100%; height: 70px; font-size: 30px; font-weight: 700; background-color: #ff9900; border: none;}


/* 원룸페이지 공통*/
.oneRoomPage .inputArea{display: flex; padding: 20px; box-sizing: border-box; }
.oneRoomPage .inputArea .seachBox{flex: 1; position: relative;}
.oneRoomPage .inputArea .seachBox input{width: 100%; height: 60px; border: 2px solid #ff9900; box-sizing: border-box;}
.oneRoomPage .inputArea .seachBox button{position: absolute; right: 20px; top: 15px; width: 27px; height: 27px; background: url('../images/oneroom_search.png') no-repeat center / cover; text-indent: -9999px;}
.oneRoomPage .inputArea > *:not(:last-child){margin-right: 10px;}
.oneRoomPage .inputArea > button{width: 120px; height: 60px; font-size: 24px; color: #888888; display: flex; justify-content: center; align-items: center; border: 1px solid #d2d2d2;}
.oneRoomPage .inputArea > button:nth-of-type(1)::before{content: ''; width: 25px; height: 21px; background: url('../images/oneroom_filter.png') no-repeat center / cover; margin-right: 20px;}

/* 원룸페이지 */
.oneRoomArea{height: 100vh; display: flex; flex-direction: column; position: relative; box-sizing: border-box;} 
.oneRoomArea .oneRoomList{position: fixed; left: 0; bottom: 135px; width: 100%; background-color: white;}
.oneRoomArea iframe{flex: 1;}

/* 원룸페이지 - 리스트 */
.oneRoomPage .listArea{height: 100vh; box-sizing: border-box; display: flex; flex-direction: column;}
.oneRoomPage .listArea ul{flex: 1; overflow: auto;}
.oneRoomPage .listArea ul li:not(:last-child){margin-bottom: 30px;}

/* 원룸페이지 - 리뷰 */
.oneRoomPage > .reviewArea fieldset{background-color: #f5f5f5;}
.oneRoomPage > .reviewArea fieldset > div{background-color: white; margin-bottom: 20px;}

.oneRoomPage > .reviewArea .btnArea{padding-top: 20px; padding-bottom: 20px; display: flex; justify-content: space-between;}
.oneRoomPage > .reviewArea .btnArea input{width: 120px; height: 70px; font-size: 30px; font-weight: 700; }
.oneRoomPage > .reviewArea .btnArea input[type="reset"]{color: #888888; border: 1px solid #d2d2d2; background-color: transparent;}
.oneRoomPage > .reviewArea .btnArea input[type="submit"]{color: white; background-color: black; border: none;}

.oneRoomPage > .reviewArea .imgArea b{display: block; font-size: 20px; font-weight: 700; margin-bottom: 20px;}

.oneRoomPage > .reviewArea .imgRegiBox .fileArea > *{margin-right: 20px;}
.oneRoomPage > .reviewArea .imgRegiBox .fileArea > *:not(:nth-child(-n + 7)){margin-top: 20px;}

.oneRoomPage > .reviewArea .scopeArea img{width: 27px; height: 26px;}
.oneRoomPage > .reviewArea .scopeArea img:not(:last-child){margin-right: 10px;}

.oneRoomPage > .reviewArea textarea{width: 100%; height: 590px; border: none; resize: none; font-size: 24px;}
.oneRoomPage > .reviewArea textarea::placeholder{color: #888888;}


/* 원룸페이지 - 상세 */
.oneRoomPage .detailArea{background-color: #f5f5f5;}
.oneRoomPage .detailArea > div{background-color: white;}
.oneRoomPage .detailArea > div:not(.bx-wrapper):not(:last-child){margin-bottom: 20px;}

.oneRoomPage .detailArea .bx-wrapper{border-bottom: 1px solid #b8b8b8;}
.oneRoomPage .detailArea .bx-wrapper .bx-pager{left: 50%; bottom:30px; width: 120px; line-height: 45px; background-color: rgba(0, 0, 0, 0.6); border-radius: 100px; transform: translateX(-50%); padding: 0;}
.oneRoomPage .detailArea .bx-wrapper .bx-pager .bx-pager-item{vertical-align: middle;}
.oneRoomPage .detailArea .bx-wrapper .bx-pager .bx-pager-item a{width: 14px; height: 14px; background-color: white; border-radius: 100%; opacity: 0.4;}
.oneRoomPage .detailArea .bx-wrapper .bx-pager .bx-pager-item a.active{opacity: 1;}

.oneRoomPage .detailArea .infoArea > div{display: flex; flex-wrap: wrap; justify-content: space-between; align-items: flex-end; padding-top: 35px; padding-bottom: 35px;}
.oneRoomPage .detailArea .infoArea > div h2{width: 50%; font-size: 36px; font-weight: 800; }
.oneRoomPage .detailArea .infoArea > div time{width: 50%; font-size: 20px; color: #888888; text-align: right;}
.oneRoomPage .detailArea .infoArea > div .iconBox{margin-left: auto; margin-top: 20px; }
.oneRoomPage .detailArea .infoArea ul li{display: flex; align-items: center; border-top: 1px solid #e0e0e0; padding-top: 20px; padding-bottom: 20px;}
.oneRoomPage .detailArea .infoArea ul li dl:not(:last-of-type){margin-right: 50px;}
.oneRoomPage .detailArea .infoArea ul li dl dt{font-size: 20px; color: #555555; margin-bottom: 15px;}
.oneRoomPage .detailArea .infoArea ul li dl dd{font-size: 24px; font-weight: 700;}
.oneRoomPage .detailArea .infoArea ul li dl dd mark{color: #df2c27;}
.oneRoomPage .detailArea .infoArea ul li button:first-of-type{margin-left: auto;}
.oneRoomPage .detailArea .infoArea ul li button:not(:last-of-type){margin-right: 10px;}

.oneRoomPage .detailArea .infoArea ul li:nth-child(1) button{width: 200px; line-height: 80px; font-size: 30px; font-weight: 700; text-align: center; color: white;  background-color: black; }

.oneRoomPage .detailArea .infoArea ul li:nth-child(2) button{padding: 0 15px; line-height: 80px; font-size: 30px; font-weight: 700; color: #888888; display: flex; justify-content: center; align-items: center; border: 1px solid #d2d2d2; box-sizing: border-box;}
.oneRoomPage .detailArea .infoArea ul li:nth-child(2) button::before{content: ''; width: 24px; height: 30px; background-repeat: no-repeat; background-position: center; background-size: cover; margin-right: 10px;}
.oneRoomPage .detailArea .infoArea ul li:nth-child(2) button:nth-of-type(1)::before{background-image: url('../images/oneroom_detailBtn01.png');}
.oneRoomPage .detailArea .infoArea ul li:nth-child(2) button:nth-of-type(2)::before{background-image: url('../images/oneroom_detailBtn02.png');}


.oneRoomPage .detailArea div h3{font-size: 30px; font-weight: 800; padding-top: 25px; padding-bottom: 25px;}
.oneRoomPage .detailArea div h3[data-click]{display: flex; justify-content: space-between; align-items: center;}
.oneRoomPage .detailArea div h3[data-click]::after{content: ''; width: 28px; height: 15px; background: url('../images/upDownIcon.png') no-repeat center / cover; transition: 0.5s transform;}
.oneRoomPage .detailArea div h3[data-click].active::after{transform: rotate(180deg);} 

.oneRoomPage .detailArea .detaliInfo ul{border-top: 1px solid #e0e0e0;}
.oneRoomPage .detailArea .detaliInfo ul li{padding: 20px 0;}
.oneRoomPage .detailArea .detaliInfo ul li:not(:last-child){border-bottom: 1px solid #e0e0e0;}
.oneRoomPage .detailArea .detaliInfo ul li dl{font-size: 22px; display: flex;}
.oneRoomPage .detailArea .detaliInfo ul li dl dt{width: 165px; color: #555555;}

.oneRoomPage .detailArea .facilityBox ul{padding: 35px 0; border-top: 1px solid #e0e0e0;}
.oneRoomPage .detailArea .facilityBox ul::after{content: ''; display: block; clear: both;}
.oneRoomPage .detailArea .facilityBox ul li{float: left; width: 20%; display: flex; flex-direction: column; justify-content: center; align-items: center; font-size: 22px;}
.oneRoomPage .detailArea .facilityBox ul li:not(:nth-child(-n + 5)){margin-top: 35px;}
.oneRoomPage .detailArea .facilityBox ul li img{width: 59px; height: 61px; margin-bottom: 20px;}


.oneRoomPage .detailArea .detailReview{padding-bottom: 30px;}
.oneRoomPage .detailArea .detailReview > div ul{border-top: 1px solid #e0e0e0;}
.oneRoomPage .detailArea .detailReview > div ul li{padding: 30px 0; border-bottom: 1px solid #e0e0e0;}
.oneRoomPage .detailArea .detailReview > div ul li .reviewBox{display: flex; align-items: center;}
.oneRoomPage .detailArea .detailReview > div ul li .reviewBox .imgBox{width: 72px; height: 72px; margin-right: 15px;}
.oneRoomPage .detailArea .detailReview > div ul li .reviewBox .textArea{display: flex; flex-wrap: wrap; align-items: flex-end;}
.oneRoomPage .detailArea .detailReview > div ul li .reviewBox .textArea b{font-size: 24px; font-weight: 700;}
.oneRoomPage .detailArea .detailReview > div ul li .reviewBox .textArea b time{display: inline-block; font-size: 18px; color: #555555; margin-left: 10px;}
.oneRoomPage .detailArea .detailReview > div ul li .reviewBox .textArea .scopeArea{margin-left: 40px;}
.oneRoomPage .detailArea .detailReview > div ul li .reviewBox .textArea .scopeArea img{width: 21px;}
.oneRoomPage .detailArea .detailReview > div ul li .reviewBox .textArea p{width: 100%; font-size: 22px; margin-top: 15px;}
.oneRoomPage .detailArea .detailReview > div ul li > .imgBox{width: 200px; height: 135px; border: 1px solid #b8b8b8; box-sizing: border-box; margin: 25px 0 0 90px;}

.oneRoomPage .detailArea .detailReview > div .pageBox{margin-bottom: 40px;}

.oneRoomPage .detailArea .detailReview > div > a{width: 200px; height: 70px; display: flex; justify-content: center; align-items: center; font-size: 20px; font-weight: 700; color: #888888; border: 1px solid #d2d2d2; margin: 0 auto;}
.oneRoomPage .detailArea .detailReview > div > a::before{content: ''; width: 37px; height: 29px; background: url('../images/oneroom_detailReview.png') no-repeat center / cover; margin-right: 20px;}


.oneRoomPage .detailArea .differentArea{padding-bottom: 70px;}
.oneRoomPage .detailArea .differentArea ul{display: flex; flex-wrap: wrap;}
.oneRoomPage .detailArea .differentArea ul li{width: calc((100% - 20px) / 2);}
.oneRoomPage .detailArea .differentArea ul li:nth-child(2n + 1){margin-right: 20px;}
.oneRoomPage .detailArea .differentArea ul li:not(:nth-child(-n + 2)){margin-top: 40px;}
.oneRoomPage .detailArea .differentArea ul li a{width: 100%;}
.oneRoomPage .detailArea .differentArea ul li a .imgBox{width: 100%; height: 215px; border: 1px solid #b8b8b8; box-sizing: border-box; margin-bottom: 20px;}
.oneRoomPage .detailArea .differentArea ul li a strong{display: block; font-size: 24px; font-weight: 800; margin-bottom: 20px;}
.oneRoomPage .detailArea .differentArea ul li a strong small{display: block; font-size: 20px; font-weight: 400; margin-top: 10px;}
.oneRoomPage .detailArea .differentArea ul li a p{font-size: 20px; color: #888888; line-height: 26px;}
